@charset "UTF-8";

/* =============================================================================
 BASELINE CSS
 ========================================================================== */
/* RESET */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em, img, ins, q, small, strong, sub, sup, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    border: 0;
    margin: 0;
    padding: 0;
}

article, aside, figure, figure img, figcaption, hgroup, footer, header, nav, section, video, object {
    display: block;
}

a img {
    border: 0;
}

figure {
    position: relative;
}

figure img {
    width: 100%;
}

/* TAGS */
* {
    padding: 0;
    margin: 0;
}

html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

body {
    font-size: 14px;
}

button, input, select, textarea {
    font-size: 100%;
    margin: 0;
}

button, input {
    line-height: normal;
}

button, html input[type="button"], input[type="reset"], input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}

button[disabled], input[disabled] {
    cursor: default;
}

input[type="checkbox"], input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}

textarea {
    overflow: auto;
    vertical-align: top;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

figure {
    margin: 0;
}

legend, button::-moz-focus-inner, input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/* =============================================================================
 CUSTOM CSS
 ========================================================================== */
body {
    background-color: #fff;
    color: #252525;
    overflow-y: scroll !important;
}

p {
    line-height: 1.4;
}

hr {

    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    height: 0;
    margin: 15px 0;
}

.clearfix:before, .clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

.float_left {
    float: left;
}

#pagewrapper {
    margin: auto 25px;
}

#masthead {
    border-bottom: 1px solid #000;
    margin-bottom: 10px;
}

#masthead h1 {
    font-family: arial,sans-serif;
    font-size: 300%;
    margin-top: 15px;
}

p.description {
    font-family: 'DejaVuSansBook';
    font-size: 125%;
    margin-top: 10px;
}

p.notes {
    color: #666;
    font-family: 'DejaVuSansOblique',sans-serif;
    font-size: 93%;
    margin: 5px 0;
}

#sizeconverter {
    padding: 0 0 0 0;
    text-align: center;
    width: 275px;
}

#sizeconverter input {
    border: 1px solid #ccc;
    border-radius: 3px;
    font-family: 'PTMonoRegular','courier',monospace;
    font-size: 114%;
    margin: 0 5px 10px 0;
    padding: 8px 4px;
    text-align: center;
    width: 265px;
}

#sizeconverter select {
    font-family: 'PTMonoRegular','courier',monospace;
    margin-bottom: 10px;
    padding: 4px 4px 2px 4px;
    width: 275px;
}

#sizeconverter #result {
    font-size: 129%;
    font-weight: 700;
    margin-bottom: 10px;
}

#sizeconverter #result p {
    color: #00a213;
    margin: 0;
}

#sizeconverter #result p.error {
    color: #ff0000;
    margin: 0;
}

#sizeconverter button.btn {
    font-family: 'PTMonoRegular','courier',monospace;
    font-weight: 600;
    margin-top: 10px;
    padding: 50px !important;
}

#footer {
    color: #000;
    font-size: 86%;
    font-weight: 700;
    margin-bottom: 10px;
    padding: 0;
}

#footer .copyright {
    margin-top: 10px;
}

#footer .symbl {
    font-size: 100%;
}

/* =============================================================================
 PRINT STYLES
 ========================================================================== */
@media print {
    #pagewrapper {
        display: none
    }
}