@charset "UTF-8";
/* =============================================================================
  WEB FONTS
 ========================================================================== */
/* DEJAVU */
@font-face {
    font-family: 'DejaVuSansBook';
    src: url('../_fonts/DejaVuSans-webfont.eot');
    src: local('☺'),url('../_fonts/DejaVuSans-webfont.eot?#iefix') format('embedded-opentype'),
         url('../_fonts/DejaVuSans-webfont.woff') format('woff'),
         url('../_fonts/DejaVuSans-webfont.ttf') format('truetype'),
         url('../_fonts/DejaVuSans-webfont.svg#DejaVuSansBook') format('svg');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'DejaVuSansOblique';
    src: url('../_fonts/DejaVuSans-Oblique-webfont.eot');
    src: local('☺'),url('../_fonts/DejaVuSans-Oblique-webfont.eot?#iefix') format('embedded-opentype'),
         url('../_fonts/DejaVuSans-Oblique-webfont.woff') format('woff'),
         url('../_fonts/DejaVuSans-Oblique-webfont.ttf') format('truetype'),
         url('../_fonts/DejaVuSans-Oblique-webfont.svg#DejaVuSansOblique') format('svg');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'DejaVuSansBold';
    src: url('../_fonts/DejaVuSans-Bold-webfont.eot');
    src: local('☺'),url('../_fonts/DejaVuSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../_fonts/DejaVuSans-Bold-webfont.woff') format('woff'),
         url('../_fonts/DejaVuSans-Bold-webfont.ttf') format('truetype'),
         url('../_fonts/DejaVuSans-Bold-webfont.svg#DejaVuSansBold') format('svg');
    font-weight: 400;
    font-style: normal;
}

@font-face {
  font-family: 'PTMonoRegular';
  src: url('../_fonts/PTM55FT-webfont.eot');
  src: local('☺'), 
  url('../_fonts/PTM55FT-webfont.eot?#iefix') format('embedded-opentype'),
  url('../_fonts/PTM55FT-webfont.woff') format('woff'),
  url('../_fonts/PTM55FT-webfont.ttf') format('truetype'),
  url('../_fonts/PTM55FT-webfont.svg#PTMonoRegular') format('svg');
  font-weight: 400;
  font-style: normal
}
